
:root {
    --primary-background: #FFFFF4;
    --chrome-background: #5AAA95;
    --chrome-background-opaque: #e3b574d1;
    --secondary-background: #917558;
    --text-color: #32363F;
    --accent-light: #ED8F11;
    --accent-dark: #C27A18;
    
    --gutter: 30px;
}

body {
    /* style */
    font-family: 'Titillium Web', sans-serif;
    background-color: #5AAA95);
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 1fr auto;

}

button {
    color:orange
}


header {
    display: inline-block;
    justify-content: flex-start;
    background-color: #5AAA95;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    overflow-y: auto;
}


 /**footer{
    background-color: #5AAA95;
    padding: 10px var(--gutter);
    align-self: stretch;
} **\
